{% extends 'base1.html' %}

{% load static %}

{% block titre_page %} Page de contact {% endblock %}

{% block content1 %}

{% if thanks %}

<div class="card">
  <div class="card-body">
    <p> Votre message a bien été envoyé. </p>
  </div>
</div>

<br>

    <a href="/" ><button type="button" class="btn btn-primary"><i class="fas fa-angle-left"></i> Retour </button></a>
{% else %}

<div class="card">
  <div class="card-body">
    <p> N'hésitez pas à envoyer un message si vous avez la moindre question sur une ressource, un exercice ou sur le fonctionnement du site. </p>
  </div>
</div>

<br>

<form method="post" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        {{ form.sender.label_tag }}
        {{ form.sender }}
        {{ form.sender.errors }}
    </div>
    <div>
        {{ form.subject.label_tag }}
        {{ form.subject }}
        {{ form.subject.errors }}
    </div>
    <div>
        {{ form.message.label_tag }}
        {{ form.message }}
        {{ form.message.errors }}
    </div>
    <div class="form-check mb-3">
	{{ form.cc_myself }}
	<label class="form-check-label" for="{{ form.cc_myself.id_for_label }}">
	    {{ form.cc_myself.label }}
	</label>
	{% if form.cc_myself.errors %}
	    <div class="invalid-feedback d-block">{{ form.cc_myself.errors|striptags }}</div>
	{% endif %}
    </div>
    <div style="display:none;">
        {{ form.website }}  <!-- Honeypot caché -->
    </div>
    {{ form.captcha }}  <!-- reCAPTCHA v3 -->
    <button type="submit" class="btn btn-primary">Envoyer</button>
</form>


{% endif %}


{% endblock %}
